@import url('https://fonts.googleapis.com/css2?family=Public+Sans:wght@100;200;300;400;500;600&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
label,
button,
input {
  font-family: 'Public Sans', sans-serif;
}

.registration-form{
  width:460px;
}
.login-form{
  width:460px;
}
.logo{
  width:180px;
}
label{
  font-weight: 500;
  padding: 10px 0;
}
.field-icon {
  float: right;
  
  margin-top: -30px;
  position: relative;
  z-index: 2;
}
.showHideIcon{
  margin-left: -30px !important;
}
.profile-image{
  max-width: 500px;
  margin:auto;
}
.profile-image label{
  padding: 100px;
}
.navbar-nav >a >a{
  font-size:18px;
  margin-left: 15px;
  text-decoration: none !important;
  color:rgb(26, 24, 24);
}
.dropdown >a{
  font-size:18px;
  margin-left: 15px;
  text-decoration: none !important;
  color:rgb(26, 24, 24) !important;
}
.customRow{
  width:60%;
  margin: 0 auto;
}
.todoSubmitBtn{
  font-size: 18px;
  transition:0.3s;
  width: 99%;
}

.todoUpdateBtn{
  font-size: 18px;
  transition:0.3s;
  width: 99%;
}

.todoSubmitBtn:hover{
  background-color: #5a50db;
  color: rgb(223, 217, 217);
}
.td {
  color: black !important;
}
.grid-container{
  height:85vh;
  display: grid;
  align-items: center;
  justify-content: center;
}
.swal2-confirm{
  margin-left: 5px!important;
}